body {background-color:#0c1919;
	margin:0;
	padding:0;
	color:#cee5e5;
	font-family:Roboto}
button {background-color:#5fbfbf;
	padding:0;
	border:0;
	width:8em;
	height:2em;
	font-size:150%;
	font-family:Roboto;
	transition-duration: 0.2s}
button:hover {background-color:#72e5e5}
table {border-collapse:collapse}
table td {padding:0;padding-right:0.33em}
#tabs {width:100%;
	height:3em;
	overflow-x:auto;
	overflow-y:hidden}
#footerBlock {width:100%;
	height:1em}
#footer {background-color:#074c4c;
	position:fixed;
	bottom:0;
	width:100%;
	height:1em;
	overflow-x:auto;
	overflow-y:hidden}
#points {background-color:#72e5e5;
	min-width:100%;
	max-height:2em;
	color:#001919;
	font-size:200%}
#pointsRate {background-color:#397272;
	min-width:100%;
	max-height:1.5em;
	font-size:150%}
.optionButton {height:4em}
.statistics {width:100%}
.statisticsTitle {background-color:#5fbfbf;
	max-width:100%;
	color:#001919}
.statisticsValue {background-color:#4c9999;
	width:12em}
.shopButton {background-color:#4c9999;
	position:relative;
	width:12em;
	height:4em;
	transition-duration: 0.2s}
button.shopButton {width:12em;
	height:4em;
	font-size:inherit}
.unboughtable {background-color:#990f0f}
.bought {background-color:#0f990f}
.shopButton button {position:absolute;
	background-color:rgba(255,255,255,0);
	top:0;
	left:0;
	width:100%;
	height:100%;
	transition-duration: 0.2s}
.shopButton button:hover {background-color:rgba(255,255,255,0.25)}
.genLeft {background-color:#5fbfbf;
	position:absolute;
	top:0;
	left:0;
	width:1.33em;
	height:1.33em;
	color:#001919;
	text-align:center;
	font-size:300%}
.genRight {position:absolute;
	top:0;
	right:0;
	text-align:right}
.upgDescription {position:absolute;
	width:100%;
	top:0;
	text-align:center}
.upgCost {position:absolute;
	width:100%;
	bottom:0;
	text-align:center;
	font-size:70%}